*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


$primary_1: #a2b9cd;
$primary_2: #b2ad7f;
$primary_3: #878f99;
$myFont: Helvetica, sans-serif;
$myColor: rgb(248, 246, 246);
$myFontSize: 18px;
$myWidth: 33%;
$myheight: 680px;

body{
    display: flex;
}

div{
    width:30% ;
    height:$myheight;
}

.main-header {
    background-color: $primary_1;
    color: $myColor;
}
.menu-left {
    background-color: $primary_2;
}
.menu-right {
    background-color: $primary_3;
}